<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    {% extends "user/base.html" %}

{% block content %}
<h2>Bus Search</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
{% if bus_schedules %}
    <h3>Search Results:</h3>
    <ul>
        {% for schedule in bus_schedules %}
            <li>{{ schedule.bus_name }} - {{ schedule.b_from }} - {{ schedule.departure }} - {{ schedule.to }} - {{ schedule.arrival }}</li>
            
        {% endfor %}
    </ul>
    {% else %}
    <p>{{msg}}</p>
{% endif %}
{% endblock %}

</center>
</body>
</html>